body{
    margin: 0%;
    padding: 0ch;
    background-color: rgb(4, 3, 54);
}
h1{
    color: rgb(133, 214, 11);
    text-align: center;
}
p{
    color: rgb(133, 214, 11);
    text-align: center;
}
form{
    text-align: center;
}

.elemento label{
    margin: 5px;
    padding: 5px;
    background-color: rgba(25, 179, 64, 0.467);
    border-radius: 15px;
    color:darkgrey
}
.elemento input{
    margin: 5px;
    padding: 5px;
    background-color: rgba(41, 206, 82, 0.185);
    border-radius: 15px;
    color:darkgrey    
    
}
.elemento select{
    margin: 5px;
    padding: 5px;
    background-color: rgba(41, 206, 82, 0.185);
    border-radius: 15px;
    color:darkgrey    
    
}
.leyenda{
    margin: 10px;
    padding: 10px;
    background-color: rgba(10, 207, 59, 0.493); 
    border-radius: 25px;
    font-size: 25px ;
}